<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/head') %>

 <body>
    <h1>SOUS</h1>
      <section>
         <nav class="bloque"> 
            <img class="dibujo" src="<%= product.image %>">
            <h4 class="nombre"><%= product.name %></h4>
            <h5 class="tamaño">1280 x 1280</h5>
            <h5 class="tamaño"><%= product.price %></h5>
         </nav>
      </section>
    <%- include('./partials/footer') %>
 </body>
</html>